@import url("https://github.backroomswiki.cn/Old_BHL/css/liminal-impact.css");

:root {
   --logo-image: url("https://wg-cn-wiki.wikidot.com/local--files/start/WG%20logo");
   --header-title: "The Backrooms WG";
   --header-subtitle: "杀出重围";
}
