@import url("https://github.backroomswiki.cn/Old_BHL/css/liminal-impact.css");

:root {
   --logo-image: url("https://cdn.jsdelivr.net/gh/ShuXiangYue/image/1787906666285.png");
   --header-title: "The Backrooms NeoB";
   --header-subtitle: "你忘了你来过这里";
--white-monochrome: 242, 244, 255;
--pale-gray-monochrome: 228,238,255;
--light-gray-monochrome: 81,117,167;
--gray-monochrome: 43,72,111;
--black-monochrome: 36, 55, 89;
--bright-accent: 126, 130, 140;
--medium-accent: 43,72,111;
--dark-accent: 43,72,111;
--pale-accent: 107, 130, 228;
--swatch-topmenu-border-color: var(--medium-accent);
--link-color: 15, 49, 146;
--hover-link-color: 32, 68, 166;
}

 body {
header-color: #114514;
background-color: #D1E4FF;
}

#header::before {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   background-image: var(--logo-image);
   background-size: 15rem auto;
   background-position: center;
   background-repeat: no-repeat;
   opacity: 0.9;
}

#skrollr-body {
    background-image: url("https://cdn.jsdelivr.net/gh/ShuXiangYue/image/1787917760292.jpg") !important;
    background-size: 676px;
}

a,
a:link {
    color: rgb(35,64,164);
}
a:visited {
    color: rgb(35,64,164);
}
a:hover,
a:active {
    color: rgb(30,60,160);
}
