@import url("https://github.backroomswiki.cn/Old_BHL/css/liminal.css");
@import url("https://github.backroomswiki.cn/Old_BHL/css/sidebar.css");

:root {
   --logo-image: url("https://wg-backrooms-wiki-cn.wikidot.com/local--files/start/logo.png");
   --header-title: "The Backrooms WG";
   --header-subtitle: "杀出重围";
}
